body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Exo 2", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{margin:0; padding:0;}
li, ul, dt, dd, dl, a{list-style: none; text-decoration: none;}
button{border:0; background:none; cursor: pointer;}
.ff-tit{font-family: "Exo 2";}

.title h1{font-family: "Exo 2"; font-size: 48px; font-weight: 400; line-height: 72px; }
@media screen and (max-width:550px){
  .title h1{font-size: 11vw; line-height: 1.3}
}